html, body{
    padding:0 auto;
    margin:0;
    font-family: 'Manrope', sans-serif;
    font-size: 1.6ch;
}


.navbar {
    list-style-type: none;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4C686D;
    display: block;
    position: sticky;
    top: 0;
    padding-left: 40px;
    height: 70px;
}


li{
    float: left;
    
    
    
}


li a{
    display: block;
    color: white;
    padding: 6px 30px;
    text-decoration: none;
    padding-left: 15px;
    margin:auto;
    padding-top: 25px;
}


li a:hover{
    color:yellow;
}


svg:hover {
    fill:yellow;
}


.hero{
    background-image: url(../img/blackt.png);
    width:100%;
    height:670px;
    background-size: cover;
}


.name{
    color: yellow;
    font-family: 'Righteous', cursive;
    font-size: 6ch;
    padding-right:237px;
    margin-top: -20px;   
}


.icon1{
    padding-left: 200px;
}


.icon2{
    margin-top: -3px;
}



.shopall{
    margin-top: 560px;
    margin-left: 611px;
    padding: 15px ;
    background-color:transparent;
    border-radius: 40px;
    border-color: yellow;
    font-family: 'Arimo', sans-serif;
    font-size: 2ch;
    letter-spacing: 1.5px;
    border: 2px solid yellow;  
}


.shopall a{
    text-decoration: none;
    color: yellow;
    padding: 15px 6px; 
}


.shopall a:hover{
    color:black;
}


.shopall:hover{
    background-color: yellow;
}


.newarrivals{
    background-color: black;
    margin: 0;
    width:auto;
    height:200px;
    font-family: 'Arimo', sans-serif;
    color: yellow;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 5ch;
    padding-top: 60px
}


.shopnew{
    margin-top: 50px;
    padding: 15px ;
    background-color:transparent;
    border-radius: 40px;
    border-color: yellow;
    font-family: 'Arimo', sans-serif;
    font-size: .6ch;
    letter-spacing: 1.5px;
    border: 2px solid yellow;  
    text-align: center; 
}


.shopnew a{
    text-decoration: none;
    color: yellow;
    padding: 15px 20px;   
}


.shopnew a:hover{
    color:black;
}

.shopnew:hover{
    background-color: yellow;
}

.shirttwo{
    background-image: url(../img/bluetee.png);
    width:100%;
    height:670px;
    background-size: cover;
}


.blacktee{
    width:32%;
    height: 600px;
    margin: 25px 10px;
    background-size: contain;
    margin-right: -5px;
}


.blackhoodie{
    width: 33%;
    height: 600px;
    margin: 25px 10px;
    float: right;
    background-size: cover;
    margin-right: -5;
}


.oversized{
    width: 30%;
    height: 600px;
    margin: 25px 10px;
    float: right;
    background-size: cover;
    margin-left: 17px;
}


.qul{
    margin: 0px 400px;
}


.footer{
    list-style-type: none;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(236, 193, 2);
    display: block;
    position: sticky;
    top: 0;
    padding-left: 42px;
    height: 100px;
    color: white;
    padding-top: 33px;
}


.foottext{
    font-family: 'Arimo', sans-serif;  
    font-size: 2ch;  
}


.foottext a:hover{
color: #4C686D
}


.insta
{
    padding-left: 385px; 
    
}


.twitter
{
     
    
}


.fb
{

}

.logoimg{
    width:100px
}

.logo{
    list-style-type: none;
    overflow: hidden;
    display: block;
    padding-left: 0px;
    padding-top: 30px;
}

.logoli{
    padding-left:93px;
}

.allstyles{
    width: auto;
    font-family: 'Arimo', sans-serif;  
    font-size: 6ch;
    padding-top: 10px;
    padding-left: 150px;
}


.styletypelist{
    list-style-type: none;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    display: block;
    padding-left: 85px;
    height: 50px;
}

.aslist{
    text-decoration: none;
    width:auto;
    
    padding-left: 50px;
    
}
.aslist a{
    color: black;
}

.aslist a:hover{
    color:rgb(236, 193, 2) ;
}

.filter a{
    color: black;
    margin-left: 300px;

    
}
.filter a:hover{
    color:rgb(236, 193, 2) ;
}

.sort a{
    color: black;
    margin-left: 50px;
    

    
}

.sort a:hover{
    color:rgb(236, 193, 2) ;
}

.clothes{
    list-style-type: none;
    width: auto;
    padding: 0;
    overflow: hidden;
    display: block;
    margin-left: 60px;
    margin-top: 100px
}

.lineone{
    margin-left: 2px
}

.cone{
    width:325px;
    height: 425px;
}

.description{
    list-style-type: none;
    width: auto;
    margin-top: -30px;
    padding: 0;
    overflow: hidden;
    display: block;
    padding-left: 68px;
    margin-bottom: 100px;
}

.wt{
    margin-left: 70px;  
}

.wt  a{
    color: black;
}

.wt a:hover{
    color: gray;
}

.bh{
    margin-left: 125px;
}

.bh  a{
    color: black;
}

.bh a:hover{
    color: gray;
}

.hat{
    margin-left: 130px;
}

.hat  a{
    color: black;
}

.hat a:hover{
    color: gray;
}

.gp{
    margin-left: 155px;
}

.gp  a{
    color: black;
}

.gp a:hover{
    color: gray;
}

.price1{
    margin-left: 130px;
    margin-top: -20px
}

.price1  a{
    color: black;
}

.price1 a:hover{
    color: gray;
}

.price2{
    margin-left: 265px;
    margin-top: -20px
}

.price2  a{
    color: black;
}

.price2 a:hover{
    color: gray;
}

.price3{
    margin-left: 260px;
    margin-top: -20px
}

.price3  a{
    color: black;
}

.price3 a:hover{
    color: gray;
}

.price4{
    margin-left: 270px;
    margin-top: -20px
}

.price4  a{
    color: black;
}

.price4 a:hover{
    color: gray;
}

.load{
    width:auto;
    font-family: 'Arimo', sans-serif;
    color: #4C686D;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 5ch;
    margin-top: -50px;
    margin-bottom: 100px;
}


.loadmore{
    margin-left: 0px;
    padding: 15px ;
    background-color:transparent;
    border-radius: 40px;
    border-color: #4C686D;
    font-family: 'Arimo', sans-serif;
    font-size: .6ch;
    letter-spacing: 1.5px;
    border: 2px solid #4C686D;   
    text-align: center;
}


.loadmore a{
    text-decoration: none;
    color: #4C686D;
    padding: 300px 13px;   
}


.loadmore a:hover{
    color:black;
}

.loadmore:hover{
    background-color: #4C686D;
}

.contactus{
    width: auto;
    font-family: 'Arimo', sans-serif;  
    font-size: 6ch;
    padding-top: 10px;
    text-align: center;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4C686D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #7bbac5;
  }
  
  .container {
    border-radius: 5px;

    padding: 20px;
  }