html, body{
    padding:0 auto;
    margin:0;
    font-family: 'Manrope', sans-serif;
    font-size: 1.6ch;
}


.navbar {
    list-style-type: none;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4C686D;
    display: block;
    position: sticky;
    top: 0;
    padding-left: 40px;
    height: 70px;
    border-bottom: black 10px;
}


li{
    float: left;
    
    
    
}


li a{
    display: block;
    color: white;
    padding: 6px 30px;
    text-decoration: none;
    padding-left: 15px;
    margin:auto;
    padding-top: 25px;
}


li a:hover{
    color:yellow;
}


svg:hover {
    fill:yellow;
}


.hero{
    background-image: url(../img/blackt.png);
    width:100%;
    height:670px;
    background-size: cover;
}


.name{
    color: yellow;
    font-family: 'Righteous', cursive;
    font-size: 6ch;
    padding-right:237px;
    margin-top: -20px;   
}


.icon1{
    padding-left: 200px;
}


.icon2{
    margin-top: -3px;
}


.shopall{
    margin-top: 560px;
    margin-left: 611px;
    padding: 15px ;
    background-color:transparent;
    border-radius: 40px;
    border-color: yellow;
    font-family: 'Arimo', sans-serif;
    font-size: 2ch;
    letter-spacing: 1.5px;
    border: 2px solid yellow;  
}


.shopall a{
    text-decoration: none;
    color: yellow;
    padding: 15px 6px;
    
    
}


.shopall a:hover{
    color:black;
}


.shopall:hover{
    background-color: yellow;
}


.newarrivals{
    background-color: black;
    margin: 0;
    width:auto;
    height:200px;
    font-family: 'Arimo', sans-serif;
    color: yellow;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 5ch;
    padding-top: 100px
}


.shopnew{
    margin-top: 50px;
    margin-left: 0px;
    padding: 15px ;
    background-color:transparent;
    border-radius: 40px;
    border-color: yellow;
    font-family: 'Arimo', sans-serif;
    font-size: .6ch;
    letter-spacing: 1.5px;
    border: 2px solid yellow;   
}


.shopnew a{
    text-decoration: none;
    color: yellow;
    padding: 300px 13px;   
}


.shopnew a:hover{
    color:black;
}

.shopnew:hover{
    background-color: yellow;
}

.shirttwo{
    background-image: url(../img/bluetee.png);
    width:100%;
    height:670px;
    background-size: cover;
}


.blacktee{
    width:32%;
    height: 600px;
    margin: 25px 10px;
    background-size: contain;
    margin-right: -5px;
}


.blackhoodie{
    width: 33%;
    height: 600px;
    margin: 25px 10px;
    float: right;
    background-size: cover;
    margin-right: -5;
}


.oversized{
    width: 30%;
    height: 600px;
    margin: 25px 10px;
    float: right;
    background-size: cover;
    margin-left: 17px;
}


.qul{
    margin: 0px 400px;
}


.footer{
    list-style-type: none;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(236, 193, 2);
    display: block;
    position: sticky;
    top: 0;
    padding-left: 42px;
    height: 100px;
    color: white;
    padding-top: 33px;
}


.foottext{
    font-family: 'Arimo', sans-serif;  
    font-size: 2ch;  
}


.foottext a:hover{
color: #4C686D
}


.insta
{
    padding-left: 385px; 
    padding-top: 24px;
}


.twitter
{
    padding-left: 40px; 
    padding-top: 24px;
}


.fb
{
    padding-left: 40px; 
    padding-top: 24px;
}