html, body{
    padding:0 auto;
    margin:0;
    font-family: 'Manrope', sans-serif;
    font-size: 1.6ch;

}

.navbar {
    list-style-type: none;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4C686D;
    display: block;
    position: sticky;
    top: 0;
    padding-left: 40px;
    height: 70px;
    

}

li{
    float: left;
    
    
    
}

li a{
    display: block;
    color: white;
    padding: 6px 30px;
    text-decoration: none;
    padding-left: 15px;
    margin:auto;
    padding-top: 25px;
    

}


.hero{
    background-image: url(../img/blackt.png);
    width:100%;
    height:700px;
    background-size: cover;
    padding-left: 40%;
}

.name{
    color: yellow;
    font-family: 'Alfa Slab One', cursive;
    font-size: 4ch;
    padding-right:237px;
    margin-top: -11px;
    
}

.icon1{
    padding-left: 200px;
}

